{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'jquery-1.11.1.js' %}"></script>
  	<script type="text/JavaScript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
	<script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>





  </head>

  <body>



		    <h2>{{ question }}</h2>














  </body>
</html>


